@using E_Commerce_V2.Data.Enums
@model NewProductoVM

@{
    ViewData["Title"] = "Crear un nuevo Producto";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Crear un nuevo Producto</h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"> </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                                <input asp-for="Nombre" autocomplete="off" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>

                            <div class="form-group">
                                <label asp-for="Codigo" class="control-label"></label>
                                <input asp-for="Codigo" autocomplete="off" class="form-control" />
                                <span asp-validation-for="Codigo" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Contenido" class="control-label"></label>
                                <input asp-for="Contenido" autocomplete="off" class="form-control" />
                                <span asp-validation-for="Contenido" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Precio" class="control-label"></label>
                                <input asp-for="Precio" autocomplete="off" type="number" class="form-control" />
                                <span asp-validation-for="Precio" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Descuento" class="control-label"></label>
                                <input asp-for="Descuento" autocomplete="off" type="number" class="form-control" />
                                <span asp-validation-for="Descuento" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Stock" class="control-label"></label>
                                <input asp-for="Stock" autocomplete="off" type="number" class="form-control" />
                                <span asp-validation-for="Stock" class="text-danger"></span>
                            </div>
                    </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label asp-for="Imagen1" class="control-label"></label>
                                <input asp-for="Imagen1" autocomplete="off" class="form-control" />
                                    <span asp-validation-for="Imagen1" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Imagen2" class="control-label"></label>
                                <input asp-for="Imagen2" autocomplete="off" class="form-control" />
                                <span asp-validation-for="Imagen2" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Imagen3" class="control-label"></label>
                                <input asp-for="Imagen3" autocomplete="off" class="form-control" />
                                <span asp-validation-for="Imagen3" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Valoracion" class="control-label"></label>
                                <input asp-for="Valoracion" autocomplete="off" type="number" class="form-control" />
                                <span asp-validation-for="Valoracion" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CategoriaProducto" class="control-label"></label>
                                <select asp-for="CategoriaProducto" class="form-control" asp-items="Html.GetEnumSelectList<CategoriaProducto>()"></select>
                                <span asp-validation-for="CategoriaProducto" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="LineaId" class="control-label"></label>
                                <select asp-for="LineaId" class="form-control" asp-items=" ViewBag.Lineas"></select>
                                <span asp-validation-for="LineaId" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="CaracteristicaId" class="control-label"></label>
                                <select asp-for="CaracteristicaId" class="form-control" asp-items="ViewBag.Caracteristicas"></select>
                                <span asp-validation-for="CaracteristicaId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Descripcion1" class="control-label"></label>
                                <textarea asp-for="Descripcion1" autocomplete="off" class="form-control"></textarea>
                                <span asp-validation-for="Descripcion1" class="text-danger"></span>
                            </div>
                        </div>
                </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="Imagen1Preview" />
                        <img width="100%" id="Imagen2Preview" />
                        <img width="100%" id="Imagen3Preview" />
                    </div>


                <div class="form-group">
                      
                            <input type="submit" value="Create" class="btn btn-outline-success float-right"/>
                        
                        <a class="btn btn-outline-secondary" asp-action="Index">Ver Todos</a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#Imagen1").on("change", function(){
            var output = document.getElementById("Imagen1Preview");
            output.src = $(this).val();
        })
        $("#Imagen2").on("change", function () {
            var output = document.getElementById("Imagen2Preview");
            output.src = $(this).val();
        })
         $("#Imagen3").on("change", function(){
            var output = document.getElementById("Imagen3Preview");
            output.src = $(this).val();
        })

    </script>
}