<div class="row">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>No tienes permiso para acceder a esta página</h2>
        <p>Por favor, haga clic en el botón para ser redirigido al inicio</p>
        <hr />
        <p>
            <a asp-controller="Productos" asp-action="Index"
            class="btn btn-outline-success">Página de Inicio</a>
        </p>
    </div>
</div>
