<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Tu cuenta ha sido creada exitosamente</h2>
        <p>Iniciar sesión con sus credenciales</p>
        <hr />
        <p>Gracias!</p>
    </div>
</div>
