<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Orden completada con éxito</h2>
        <p>Podes consultar todos tus pedidos en la sección de pedidos de tu perfil</p>
        <hr />
        <p>Gracias!</p>
    </div>
</div>